.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.input-group input,
span i {
  padding: 15px;
  font-size: 1.2em;
}

.panel-btn {
  background-color: salmon;
  color: white;
}

.suggestions {
  border: none;
  position: absolute;
  background: #d3d3d3;
  display: block;
  list-style: none;
  z-index: 900;
  margin-top: 0;
  border-radius: 4px;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 45.97px;
  width: 92%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.suggestions li {
  padding: 0.5rem;
  text-align: left;
  color: black;
  background-color: transparent;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #d3d3d3;
  color: black;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
