.jumbotron {
  margin-bottom: 0px;
  padding: 2%;
  position: relative;
  background: none;
  user-select: none;
}
.welcome {
  font-size: 22px;
  font-weight: 60;
  color: #d3d3d3;
}
.brand {
  font-size: 100;
  font-weight: 100;
  text-shadow: black;
  color: white;
  -webkit-text-stroke: black;
}

.jumbotron .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../../assets/header-background.png");
  background-position: 0% 10%;
  background-size: cover;
  opacity: 0.6;
  background-repeat: no-repeat;
  /* filter: grayscale(60%); */
}

.content-bg {
  background-color: rgb(128, 128, 128, 0.5);
  border-radius: 7px;
  padding: 10px 10px;
  position: relative;
}

.content h1,
p {
  color: white !important;
  z-index: 200;
}
.content .btn {
  opacity: 100;
  position: relative;
}
